doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
	body
		script(type="text/javascript", src="/javascripts/photo-modal.js")
		script(type="text/javascript", src="/javascripts/album-logic.js")
		script
			var album = !{JSON.stringify(album)};
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					ul.nav.pull-right
						li
							a#navbar-img-link(href="demo")
								p.pull-right#pro-profile-nav-demo View Demo
							li
								a#navbar-img-link(href="upload/new")
									p.pull-right#pro-profile-nav Edit Album
		div.pro-body-container-gray
			div.row-fluid
				div.span9
					div.row-fluid
						div.span3#pro-person-pic-background(style="background: url(#{user.profile_pic}) no-repeat center center; background-size: cover")
						div.span9#pro-info-container
							h4#pro-person-name= user.username
							p#pro-company-name= user.company
							p#pro-location= user.location
							div#pro-description
								p= user.description
				div.span3#pro-contact-container
					a#pro-contact-me.btn.btn-primary(href="mailto:#{user.email}?Subject=Hello", target="none") Contact Me
					p.pro-contact-info
						a(href="//#{user.website}", target="none") #{user.website}
					p.pro-contact-info <strong>Phone:</strong>  #{user.phone}
					p.pro-contact-info <strong>Email:</strong>  #{user.email}
					p.pro-contact-info <strong>Address:</strong> #{user.address}
			div#pro-album-container
				div#pro-album-1.pro-album-cover.hide
					a(href="#pro-photo-modal", role="button", data-toggle="modal")
						div#album-cover-background(style="background: url(#{album.images[0]}) no-repeat center center; background-size: cover")
						//img#pro-album1-cover.pro-album-pic(src="#")
						div.pro-album-label-container
							div#album-label.pro-album-label		
				a#create-album-link(href="upload/new") Add an album
				//
					div.pro-album-cover
						a(href="#")
							img.pro-album-pic(src="#")
							div.pro-album-label-container
								div.pro-album-label
									p.search-pic-name Wine Collection
					div.pro-album-cover
						a(href="#")
							img.pro-album-pic(src="#")
							div.pro-album-label-container
								div.pro-album-label
									p.search-pic-name Yoga Savana
		div#pro-photo-modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="profile-photo-modalLabel", aria-hidden="true")
			div#profile-modal-large-container
				button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
				img#profile-modal-large-img(src="#")
			a#pro-profile-modal-slide-left(class="carousel-control left", href="#myCarousel", data-slide="prev") &lsaquo;
			a#pro-profile-modal-slide-right(class="carousel-control right", href="#myCarousel", data-slide="next") &rsaquo;
		